body {
    font-family: Arial;
    margin: 20px;
  }
  input, select, button {
    display: block;
    margin: 10px 0px;
    padding: 4px;
  }
  body {
    background-color: #d3d3d3; /* gris medio */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  h1 {
    text-align: center;
    margin-top: 30px;
    color: #222;
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin-top: 20px;

  }

  form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }

  form input, form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .boton {
    background-color: #c0392b;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }

  .boton:hover {
    background-color: #e74c3c;
  }

  table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }

  th, td {
    padding: 12px 15px;
    text-align: left;
  }

  th {
    background-color: #444;
    color: #fff;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .riesgo-bajo {
    background-color: #d4edda !important;
  }

  .riesgo-medio {
    background-color: #fff3cd !important;
  }

  .riesgo-alto {
    background-color: #f8d7da !important;
  }
  .riesgo-bajo  { background-color: #d4edda !important; }
  .riesgo-medio { background-color: #fff3cd !important; }
  .riesgo-alto  { background-color: #f8d7da !important; }
    
